
/Mojo.2.0/Mojo/Mojo/bin
/Mojo.2.0/Mojo/Mojo/obj
/Mojo.2.0/Mojo/Mojo.Core/bin
/Mojo.2.0/Mojo/Mojo.Core/obj
/Mojo.2.0/Mojo/Mojo.Cuda/bin
/Mojo.2.0/Mojo/Mojo.Cuda/obj
/Mojo.2.0/Mojo/Mojo.Interop/obj
/Mojo.2.0/Mojo/Mojo.Interop/bin
/Mojo.2.0/Mojo/Mojo.Native/obj
/Mojo.2.0/Mojo/Mojo.Native/bin
/Mojo.2.0/Mojo/Mojo.Wpf/obj
/Mojo.2.0/Mojo/Mojo.Wpf/bin
/Mojo.2.0/Mojo/ipch
/Mojo.2.0/Mojo/Sdk

/Mojo.2.0/Mojo/Mojo.Wpf.suo
/Mojo.2.0/Mojo/Mojo.Wpf.sdf
/Mojo.2.0/Mojo/Mojo.Wpf.opensdf

/Mojo.2.0/Mojo/Mojo.Tools/*.suo
