<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Name="Mojo" Id="*" Language="1033" Version="!(bind.fileVersion.MojoEXE)" Manufacturer="Harvard SEAS" UpgradeCode="2A6FBBC1-AB6F-4C8C-B709-EE870A1CA4BA">
    <Package Id="*" Keywords="Installer" Description="Harvard SEAS Mojo 2.0 Installer (64 bit)" Manufacturer="Harvard SEAS" InstallerVersion="300" Compressed="yes" InstallScope="perMachine" />

    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed. Setup will now exit." />

    <!--Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    <Upgrade Id="{6E9D7B6B-9764-44C7-8477-C7F8EBBF57B5}">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Mojo">
          <Directory Id="ViewerFolder" Name="dist" />
          <Directory Id="ShadersFolder" Name="Shaders" />
          <Directory Id="DirectXFolder" Name="DirectX" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuSubFolder" Name="Mojo 2.0" />
      </Directory>
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLFOLDER">

      <Component Id="MainExecutable" Guid="723EE864-91A1-4F9E-BD91-754B1BE39461">
        <File Id="MojoEXE" Name="Mojo.Wpf.exe" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Mojo.Wpf.exe" KeyPath="yes" />
      </Component>

      <Component Id="MojoConfig" Guid="C91F22B1-6C11-4784-AE7C-1A0CD4E2438B">
        <File Id="MojoConfig" Name="Mojo.Wpf.exe.config" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Mojo.Wpf.exe.config" />
      </Component>

      <Component Id="MojoDLL" Guid="05DBD086-0C83-48D7-B7E8-391E97C5CCFE">
        <File Id="MojoDLL" Name="Mojo.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Mojo.dll" />
      </Component>

      <Component Id="MojoInteropDLL" Guid="301C8144-0714-43C5-A745-035D90E44963">
        <File Id="MojoInteropDLL" Name="Mojo.Interop.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Mojo.Interop.dll" />
      </Component>

      <Component Id="ObservableDictionaryDLL" Guid="4077F21B-75E7-4279-9BA3-CA0E12B16A27">
        <File Id="ObservableDictionaryDLL" Name="ObservableDictionary.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\ObservableDictionary.dll" />
      </Component>

      <Component Id="OokiDialogs" Guid="FC73C862-0230-4640-9D1E-6DF1CB6A21D1">
        <File Id="OokiDialogs" Name="Ookii.Dialogs.Wpf.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Ookii.Dialogs.Wpf.dll" />
      </Component>

      <Component Id="SlimDX" Guid="B71E18D9-7539-49F8-8E7F-7838E5D34E7E">
        <File Id="SlimDX" Name="SlimDX.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\SlimDX.dll" />
      </Component>

      <Component Id="OpenCvCoreDLL" Guid="7F56A245-A6BB-474B-9CB8-5E5B3ED65F70">
        <File Id="OpenCvCoreDLL" Name="opencv_core240.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\opencv_core240.dll" />
      </Component>

      <Component Id="OpenCvHighGuiDLL" Guid="115D3D56-A959-4996-A1FF-B449AFA8BC32">
        <File Id="OpenCvHighGuiDLL" Name="opencv_highgui240.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\opencv_highgui240.dll" />
      </Component>

      <Component Id="tbbDLL" Guid="2B4F940F-BCC5-4B7A-8DA5-F788CB582569">
        <File Id="tbbDLL" Name="tbb.dll" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\tbb.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="ShadersFolder">

      <Component Id="Shaders" Guid="EA867978-B481-4824-817B-AAEB1B439894">
        <File Id="AdjustRenderer2DFX" Name="AdjustRenderer2D.fx" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Shaders\AdjustRenderer2D.fx" />
        <File Id="DebugRendererFX" Name="DebugRenderer.fx" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Shaders\DebugRenderer.fx" />
        <File Id="DrawMergeRenderer2DFX" Name="DrawMergeRenderer2D.fx" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Shaders\DrawMergeRenderer2D.fx" />
        <File Id="MergeRenderer2DFX" Name="MergeRenderer2D.fx" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Shaders\MergeRenderer2D.fx" />
        <File Id="SplitRenderer2DFX" Name="SplitRenderer2D.fx" Source="..\Mojo\Mojo.Wpf\bin\x64\Release\Shaders\SplitRenderer2D.fx" />
      </Component>

    </DirectoryRef>
    
    <DirectoryRef Id="ProgramMenuSubFolder">
      <Component Id="StartMenuShortcut" Guid="3B9F97CF-263A-4E86-8EE7-8B33BB4DECDD">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="Mojo 2.0 (64 bit)"
                  Description="Mojo: Connectome Annotation Tool."
                  Target="[INSTALLFOLDER]Mojo.Wpf.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="Mojo.ico"
                  />
        <RemoveFolder Id="ProgramMenuSubFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\HarvardSEAS\MojoConnectomeAnnotation" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="D4FB0B9A-FD78-4DB0-9BB2-FB7ADBF5FC9F">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Name="Mojo 2.0"
                  Description="Mojo: Connectome Annotation Tool."
                  Target="[INSTALLFOLDER]Mojo.Wpf.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="Mojo.ico"
                  />
        <RegistryValue Root="HKCU" Key="Software\HarvardSEAS\MojoConnectomeAnnotation" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VCRedist" SourceFile="Microsoft_VC100_CRT_x64.msm" DiskId="1" Language="0"/>
    </DirectoryRef>

    <DirectoryRef Id="DirectXFolder">
      <Component Id="DirectXRedist" Guid="176E0848-C46D-4D39-BDB7-59527D0169AB">
        <File Id="DXSETUPEXE" Source="directx\dxsetup.exe" KeyPath="yes" Checksum="yes"/>
        <File Id="dxupdate.cab" Source="directx\dxupdate.cab"/>
        <File Id="dxdllreg_x86.cab" Source="directx\dxdllreg_x86.cab"/>
        <File Id="dsetup32.dll" Source="directx\dsetup32.dll"/>
        <File Id="dsetup.dll" Source="directx\dsetup.dll"/>
        <File Id="Jun2010_D3DCompiler_43_x86.cab" Source="directx\Jun2010_D3DCompiler_43_x86.cab"/>
        <File Id="Jun2010_D3DCompiler_43_x64.cab" Source="directx\Jun2010_D3DCompiler_43_x64.cab"/>
      </Component>
    </DirectoryRef>

    <!-- heat.exe generated 3d viewer components -->

    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp02A9C2B898538C407108ECA6D11D60B6" Guid="{4C14DBDD-0336-4296-AA88-F94E22484627}">
        <File Id="filC2D5A3ACFEB0E2F3163D668804F2DE17" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py._errors.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp03D779DBFD3B78DF32C22CEED695FC5C" Guid="{CC2DFBC8-1AFF-46ED-AA86-27664E18301E}">
        <File Id="fil4F26678939109DE5E388E858A5FF686D" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5a.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp05EE2BC92F9A73DC505A9DDCF95661D3" Guid="{3C006198-E9E1-4A6A-8204-ECF7A45889AC}">
        <File Id="fil76CBFDA2EED85B3DFBA1EA89EB9ED7BF" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\gle_COPYING.src" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp08E130B9ACE5E3E0D87982887082A7FA" Guid="{A24EC1D2-6DA1-489C-8A8B-22702DE66D27}">
        <File Id="fil19F5E4744A8E2ED70C16697094D2F6DE" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\zlib1.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp09D5B0C4D3A8E378065A64E06AC1743B" Guid="{AABFF7CC-0B7F-45D6-A27D-AA254D4E9461}">
        <File Id="filF2704BF46F9453C0F3E8968BA6CB52CD" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\gle_AUTHORS" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp0AC814C3AA80AF056CC687B6E924A147" Guid="{C6357246-0066-41A4-BB43-CD93E93ADA76}">
        <File Id="fil8679DF99AF91C0D8747812C67C43FD18" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\_hashlib.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp0B12BE386AE60232834F50B1B8E10CD2" Guid="{B83872DA-7D5E-4AB6-981D-47C834AA8590}">
        <File Id="fil10828382CCF5289F881D17B8C8D5167D" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5g.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp0C9729D4221B2CC7ED17AF1E5E2A12AF" Guid="{FE2660CB-9457-4337-A12D-6E67D0C7A5DA}">
        <File Id="filABE73BB39ABD8EF68784F0B95B6650D4" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.numpy_formathandler.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp0EFEEBCADB0F84B2893661BFE27D44E4" Guid="{C82F5851-FED9-4B47-990D-F4BF8084FFB1}">
        <File Id="filFCEAE5D62BD54E63DC44A24D8D0B0D71" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5ds.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp16762C69095CBBBCCA3D3AE045E399CF" Guid="{7FEDB379-1CB0-41D8-9D79-466CD1EFBA54}">
        <File Id="fil599946A32D00BCB38DC31DB8900DBD4E" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.nones_formathandler.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp20ADD4F4C863EB80BBEB96237642B07A" Guid="{9690F70A-9A07-4584-AD6B-F4C899B72AA4}">
        <File Id="fil71749E918E6C589CF39A7E9785A5C96E" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.vbo.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp2178FC6D71B0A5AE854F81F9E1894822" Guid="{1CDEBA95-FBB1-4635-95F5-0EA587115552}">
        <File Id="fil7A23FF1AD061F5E3EA2DA6E825F67939" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_objdetect2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp24BAB4F2AAEA32ED97D7F94EFAF0C001" Guid="{0125CB5D-6616-4050-AE34-EBF7F65CACEB}">
        <File Id="fil6F4F046051BA4570ED62C51ED3483DBF" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5s.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp28ADF14B3CE52E92643212C346CB4746" Guid="{996F084F-96E8-483F-99FB-E2395CAE49DF}">
        <File Id="fil9E86A4E51A2A5362FBF8C1B215F2072A" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\GLE_WIN32_README.txt" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp29FFA5F8B195F7E416FF74B3BAE3B23E" Guid="{343DE771-ABEB-4FCA-81FA-B484A135CE09}">
        <File Id="filD41BF678FD18253D4663652A82B0B6B2" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5d.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp2C1FD3A1EE38346A233C168AE340AF20" Guid="{F9059ABD-123A-4E56-BACA-75572B44E9AC}">
        <File Id="fil238378A499263F337CA145E95207289A" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\sz.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp2C7DC932384949279543B51B1A743CC1" Guid="{DB2A7A05-8AA5-4F66-9C86-5AB81E653A7F}">
        <File Id="fil5A2F54379822D6248488167EFC1B4B65" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\cv2.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp301766ACF430269469DDFBCC8B1FD83E" Guid="{5596F7CB-357C-427D-A711-30C2895DF162}">
        <File Id="fil3319791DBEB6B80B050F2518C2BFC0A3" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_video2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp3573F4CF50855D59C4BD82940DEA730A" Guid="{94C42BAC-3264-40BF-A130-135213287E3F}">
        <File Id="filE1E4693A099ECA6CE7750C9C58423D52" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.utils.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp369F236EF2C7AD4E925F6FD011F4C1C0" Guid="{361AEB74-45D2-4437-86FC-32E75ACAA619}">
        <File Id="filD95F1E262E2E6DA74E2578F8630F391B" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.core._dotblas.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp370943C8137EB014534386B884766EDC" Guid="{B3186425-05D8-461C-9F7E-72E27253C431}">
        <File Id="fil53243D73CDA47AF5EE57C5DAEC3CCC0F" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\tbb.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp379568DC16B260E0048B44DACF942EB5" Guid="{DDE0BE17-EDD0-44C5-A6F1-C6E3533AC8D0}">
        <File Id="fil717215819C911A12CC9949344EB74E66" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.core.scalarmath.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp3BF04E3F85E3DADE993C045FD2362446" Guid="{84E1ECAF-0DC1-42E5-BD66-96F89A151DCE}">
        <File Id="fil4E0206D667D28CCFF07A31B7A7A2132D" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\bz2.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp406ACCE71AC4997005460008D8E1CB88" Guid="{27481175-31A5-4DD2-9CD6-805AB6AFEEFD}">
        <File Id="fil5EE08810E5ACFE02DFABB59BEA3FF502" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\glut_README.txt" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp409E80425E4DB369B90A404E11926DAB" Guid="{4FDFF8B1-CD16-45E9-88CF-345CC3120DFC}">
        <File Id="fil839C84CCC196156616C24E14A835DCE2" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\pyexpat.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp4298C4EEF7DAAD1BED7E9F57861D126A" Guid="{EF91466E-6363-473C-966F-0CA2E89D6C31}">
        <File Id="filEBEA649515499F52284A9159D5F6ABF1" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_nonfree2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp43871DA94E7ACB41EF33C50F806212BD" Guid="{AFCD552B-1805-4958-B9FF-72E16C9F3971}">
        <File Id="fil7039C19B71739DAE0B2F19E21FD0ADE1" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.random.mtrand.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp4615EDE985778E13130CF9194456E3E5" Guid="{94CEA175-514A-4211-B057-5CB64B84D658}">
        <File Id="fil5D249F6F33B4BA592AE689BB27ACF673" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5o.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp4DB63FE42C6073BE78A2F8996C13FE17" Guid="{ECE827FB-7CC8-421F-AA3E-E2C60D111363}">
        <File Id="filFC2AAFF7154E3309E2BCDB1C73E390BF" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\Microsoft.VC90.MFC.manifest" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp4FB88464D33C5C14B122C4B981B8C06C" Guid="{388998F2-A1BF-4094-8292-707931B29629}">
        <File Id="fil9BE706741D83D9EC6BF50E3B336619DB" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_imgproc2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp5161E9E6F7A55CE754500D5C17B5CDA5" Guid="{E6E3B524-3B7C-41C4-8C98-1C9013C17C23}">
        <File Id="fil703D5FDAEBE0B07BD142B1DD83DE3527" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\_win32sysloader.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp51930619C89298B28F6E7DA3C3FB6BB3" Guid="{824B9C85-EDEC-48E0-90C5-9E633B228E98}">
        <File Id="fil1B5C3B61DD2847A154ACC824C0C9AA84" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\freeglut32.vc9.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp5196C6532B4A8796862381ADEE194F12" Guid="{1A83C734-BDAA-4045-9F69-D8309E1E55F4}">
        <File Id="fil3914CB86FEA600FB0593AF52C2082839" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.formathandler.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp54DA627BB886C0CB18771A6E2B715F24" Guid="{66149BA6-4442-480C-9EE3-2C9ED891F652}">
        <File Id="filC869EBB6BF22F096C884E5780A640FAC" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py._proxy.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp56FB690928ACD5FF8CF0A88704722FD2" Guid="{9E1DB3AA-FD16-4E10-A469-BD11F625D286}">
        <File Id="filA2F3EBCDB9C83BFC4FFCBA3E27DA51F6" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py._objects.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp575E9C52DBCB8C27B1B9F23F84B79871" Guid="{43298D10-5667-46C3-BB2D-231433BE466D}">
        <File Id="fil38B09A3D8CD19E546A5C3F8671F2C651" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\mfcm90.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp591EE957F5940E418E142C7A993D5689" Guid="{1DD3F45B-BAF3-409A-9974-272E8E620E47}">
        <File Id="fil8C21ECEE72A19EA504758F4D69EE465B" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\mfc90u.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp593B717BFD240B8230DA777ADB1CFF29" Guid="{C7B6B470-5E47-4941-B7B0-F88D4B3D620D}">
        <File Id="fil7CE193D656B172973B63748EED00D78C" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_contrib2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp5B77D1B662C0BF94BCF5FB3691347BDC" Guid="{313E5C79-8FDA-4097-BEAC-BCD5CA2B7E97}">
        <File Id="filF1EDCAC6FD6180751983A88BFD793224" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_features2d2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp5DD362DA5237876977AC3EF3EFCBF5F6" Guid="{9E4F0E7F-E3BE-463A-95A3-7F3104DFFD7D}">
        <File Id="filE839AC6FB2D9DA2DFF354108B637375B" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.buffers_formathandler.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp5F66B67434CA491876875218766526E6" Guid="{452871F2-AA78-44A3-B036-680CFD7F0389}">
        <File Id="filA4F0C90D47C9DAB9A6B5AB56A620FF79" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\win32trace.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp5FC58C9B7A64476998FEB3CDCEA6F52F" Guid="{42749701-79B1-4D0F-B01E-E5F2F2D57BAF}">
        <File Id="fil0808B07AB7556D7F7B53A8636AE728EF" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.wrapper.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp61CC24E574DE214C7D90AF437D9E7D0A" Guid="{9A0971B4-C5FB-483B-9AC0-ED5B0D1A1CE7}">
        <File Id="fil105A64984B7BD8ECB83A1F4A6C3AFC36" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.arraydatatype.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp63A235BE19F2ED56ABC4281FAF5DC853" Guid="{D093446A-8C0E-4E4F-A302-CCBA7FD4395C}">
        <File Id="filE878EDA0C155168EA0552172C88D266C" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_core2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp6A2F553C03C24D922B27B18227326200" Guid="{80DACC13-59FC-40B1-8DDD-5A0029D4F386}">
        <File Id="fil89947310E35D79451CF564E5CC4BE939" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\viewer_3d.exe.manifest" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp6B2C5BD8723EB486944E86CB42CFBA9F" Guid="{0E321A06-EFD6-42E5-B499-C0B8DDEF8C97}">
        <File Id="filE4B05694CC37038B0EA519D79901FB94" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\win32pipe.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp71002198D804ADC964F6C00DC11A34B7" Guid="{785A2ECF-1746-4854-8715-33896512E94E}">
        <File Id="fil2BE45D487F97CAE1C8F3D9EB47E08F6E" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\mfc90.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp718D95624D260D893E70CB75931AF5F5" Guid="{03A84D22-6312-4719-B0B5-6F2BE5CDFBA2}">
        <File Id="filF3F443551264EF48FF3B4F5421D36B72" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\pythoncom27.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp721BAF101092B6A4547B74D01F621412" Guid="{F1A82106-FAB6-4A5F-97DE-6C65F68214CE}">
        <File Id="fil57410F7661F53EA0F2BF6F705348C74C" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5l.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp75A35C3B31D52F85ED4D912591DD9CB8" Guid="{14E46AF0-E0FF-443C-AFF1-7268CD4BC6FB}">
        <File Id="filB26DE5F96BD9E2F5D2BA43CF236856A2" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\glut32.vc9.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp76208F6BE355CB5FC68B254235064695" Guid="{904B603F-6782-4BB2-88D8-D96B70670973}">
        <File Id="fil4B1FBBD95C8032A7539376A65865BD07" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\viewer_3d.exe" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp778533EB654085E995E69F6846EF31D9" Guid="{E5F46349-7A69-4A8B-AD86-E55BBDA5E37E}">
        <File Id="fil8DCCBB055350A0A2340A1887CF423A05" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5t.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp7C3676429C8E674F390D69BA2A2DC4A9" Guid="{4F98B090-E42C-492A-A72B-2036C88B52F7}">
        <File Id="fil04FC7CFA73A2859758404CDDF77F84AD" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\win32ui.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp7FAF7AC0CB4AFC3508AEB19F1B6BC470" Guid="{A999146E-3C6B-45D8-9709-6E0AE8F806DD}">
        <File Id="filBD01542D119F712DDCBE3BA6FD47678C" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_photo2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp80C57F7B5E7E46C99F7EC36DF7EFF868" Guid="{9ED238F5-90AD-4B2D-BDFE-E3193FA556D1}">
        <File Id="filF22BBCC8DCE723A6C331834BBD7119DB" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_ml2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp877049556BA3F16C6E61EEE67B736473" Guid="{A8B2A572-73C3-4669-8751-53DB011B00C2}">
        <File Id="fil3C47F6C0C943F479838349A76B412445" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\Polygon.cPolygon.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp890E76734A5E50A045A2D10B53DFAE7D" Guid="{5F924A24-1614-481A-AFB1-DCF7A24EE2B4}">
        <File Id="fil88519942E6366809C816BF48DB4DE14E" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\win32api.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp8A20D28FC5B1FD7137F675A3FE624972" Guid="{ECC65956-3E0A-4530-9253-0F24EB89231A}">
        <File Id="fil6A0894B12D4DD891C633A5B7508EEAB6" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.latebind.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmp8CED51FEE3FDCE0B7562D1CBE298BC66" Guid="{869AE660-94B3-4669-B161-F7EB386764AB}">
        <File Id="filF6B7A0EC37AD53BF36909E4C50BE1516" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\gle32.vc9.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp8F0A1FA835E3377DD02188E3C22493B6" Guid="{7FFEF5AA-C098-4C3E-B9D4-1CB1A5B0071C}">
        <File Id="filB3D3DF2D23C193F0816DB38FFE215B1A" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5fd.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp94B4DA75256F7ED30A2200EFF6EEC5EA" Guid="{D8FD8981-8AEE-4B07-9DF3-1CA4D6D61187}">
        <File Id="filF3ADB26008C13D3FDC58A5D29F367C13" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5f.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp96C6964A1717DC6FDB39B3BF3953C21A" Guid="{2D89F954-BE60-4502-8593-B44A1EE62D12}">
        <File Id="fil4977C2B0E0A8E9B458CB7B3D44325FF3" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL_accelerate.errorchecker.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp9726CFA136FF1113AF87A02DAC4B7FB5" Guid="{49202EDE-EAF9-4D5C-BB36-48AEE2DED3FF}">
        <File Id="fil49F27600CDB7F5713AB602BC45344BA6" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5r.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp974D11717B6B1F82020387775D3FC927" Guid="{C77A1E6E-2F2C-4AAA-9ED3-40C9D3B93604}">
        <File Id="fil526BA9B7A928B605FAC599F6717AB916" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_calib3d2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp9A955418AEFB557F08A0E67D95D10341" Guid="{F6DFDC20-5FC8-478C-9547-B633939118F3}">
        <File Id="fil7C10448F0A251B85730987442C6A47BC" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.defs.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp9BFFEDE752AEE498CEEC5195E40879BE" Guid="{4590DB86-DD13-4BF2-8C93-03A63A375779}">
        <File Id="fil879FF6A24AAA4767D11C54F54D0156E1" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\unicodedata.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmp9CD26CDF7FC603AB16E3BF29FF75259B" Guid="{9DE1BD41-E3B6-42F5-B4A5-1AE8E099DE98}">
        <File Id="filD4D1D89F7E9BA3ECB1759917FAD14CA4" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\pywintypes27.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpA17F018A3A59C86013B1D010A8AED532" Guid="{88199FB9-CAB9-4C7F-ACA6-88C8E8874133}">
        <File Id="filE5BC931B06D2880018D709EE6DCCE742" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.core.multiarray.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpA25CB35A9842FB77DEAABD286CBEA961" Guid="{3E65AA32-A0C4-4A6D-A5D8-6A6BB2443E9E}">
        <File Id="filBE4E44906FB379D9336B8ECD338ED651" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\libiomp5md.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpA3C912CAE1FCBAD9AAD5E28D831BA428" Guid="{E74BDC3F-93B5-4CF8-AC2B-C59F915C50F6}">
        <File Id="filE22C436051B3CB9FF1F07A3BEBE36958" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_ocl2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpA9056DF86B1CFBE26EF731DEEA0A42EA" Guid="{E027A002-04A9-4F8C-B414-40A07980FE4B}">
        <File Id="fil70067285BA000D52C8AB2CD08B08A20C" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\python27.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpAAC9C8A06AF5945FA5CBA06C97D65255" Guid="{B58D199D-B5A9-44BD-BF6E-CD7D2858340E}">
        <File Id="fil44483F18D4FC407BF0D268ED9F76BFCF" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5ac.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpAC38FE40DA2DDB17A3BAC37DEB5FF24A" Guid="{45796C66-9378-49C2-AE16-F724B376DAB3}">
        <File Id="filC04E59A804E110A7357A0913A2B48CEF" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5p.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpB036805003171BF514F9DD49A29EA573" Guid="{D72AE589-61FC-4338-850D-9DF80E54066D}">
        <File Id="filBF002970F310F5E5CFB1096216C15CCA" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.fft.fftpack_lite.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpB13597EBC6257B9882A3A6F8BB5DE153" Guid="{91EB2446-9EEA-4A84-8A7C-780B23676000}">
        <File Id="fil31D885ABEDD47599ACB23094381CF9E3" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.linalg.lapack_lite.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpB3252AB52EB7F895018B7A9E4BAC1E85" Guid="{54D1C6C4-E943-4235-B3B3-5268C498484B}">
        <File Id="fil2DABE92AD92BEE68BEE66B68782E5EA1" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5i.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpB5ADBC8C24964CDCA98D437D40FB66BD" Guid="{31452FB1-6254-4D78-8898-4F5523BD2869}">
        <File Id="fil5EDE2BF10F20443E6858C50F40467481" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\hdf5_hl.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpBBDFC243AA6E54076B0E0F2BEA65F193" Guid="{F15FC599-7B0F-43DD-B8D6-7D037AAEBECC}">
        <File Id="fil9441EBB3F1ED840773D2CFA9D8A5845B" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\select.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpBED5039C3E0CF7607DF450BB1050E48D" Guid="{7D8CD9A0-E5E9-49DE-AE88-29E27ED10299}">
        <File Id="fil22AEDE9BFEDC5448D4F9FC436F34E6C0" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpBEE957CDACC30F8867901894B9C29134" Guid="{2334F4FD-9E23-4B67-8351-61F5F11B060C}">
        <File Id="fil9663759E441EA9D3AD2D9AA0544A13AE" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\pysqlite2._sqlite.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpBF1F91BAB7699B000B174DC636E5CAD4" Guid="{93C73AA5-92CC-41D1-AA4D-22816F9E0CA6}">
        <File Id="filF7B684E5EAEEC1EC8F30D873D06D8968" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\_socket.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpC0F37CA1F404C9945F36DEF091935C05" Guid="{8983A255-A833-44D8-B19F-BA9204BB1838}">
        <File Id="fil1D2DA1F450DA4B2680A839A432BE4D35" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\win32pdh.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpD8D591678E9B14AC6E12C91748630DFB" Guid="{CC1D0D5B-6FDE-4DBA-8DDB-7ACC54FD5FB9}">
        <File Id="filEB6FAC4ACE91AF1D02A707B217199787" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\hdf5.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpD920E33E9680AF560EE34C05BAF3115E" Guid="{428A8BE4-26F0-4E2C-AF0C-3D5ED9680A31}">
        <File Id="fil0B84AE2DF5C1884FF3D69BD1C6F88C77" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py.h5z.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpDC455C6B5D2958707EC520EE9DF1A3B7" Guid="{34A633CB-8F02-49D3-888D-06EF5480410D}">
        <File Id="fil3E8624EB1A3A0F5E369A9A446172722F" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\_ctypes.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpE41512CF1CE4A44D900FCCFD9D5006FE" Guid="{16E70DA8-8692-425A-A5D2-9518DCB881FF}">
        <File Id="fil427F32025963B966EA0D6D7060E75691" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\mfcm90u.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpE7E890623BB71200D06C441A4F35A4F2" Guid="{0E64C099-45F9-4DC5-90FE-22CD0BD2FCC2}">
        <File Id="fil835CFB782363594DC8F2DF8042ACDB9F" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_highgui2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpE946750C409E87F60B24DE266431C3C4" Guid="{EB62CBA0-85B7-49FD-9586-5E58B3C49389}">
        <File Id="filE7C5DBCFAD9A25148EE6550610517459" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.linalg._umath_linalg.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpEA0AE5B165F53438643AD31AAFB9AD22" Guid="{EADDFA36-6B59-4248-BF12-0EF9074D5030}">
        <File Id="fil40A1FF0EB974CD82CC618DFD08A8C4AE" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_legacy2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpEA22FF0EC6BB2BCEE432211012AEDEAA" Guid="{0C2BFFF9-20DE-4353-B866-EE2EC5EFD0EB}">
        <File Id="fil91CE8CA7CA11DA98032E67A2156BFE5B" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\_ssl.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpEEFD22B04FBB2C385905983D27D811B5" Guid="{0673AB5B-5272-4D4B-A5EE-C7914F5113C9}">
        <File Id="fil8191ED2BD37CC37637B7ADEAA1F2AA6B" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\opencv_flann2410.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpEFEFC5857FC36CC0B019ECB52955A4CC" Guid="{B93D679B-1556-46AB-AA1E-A2E0C56D0FEC}">
        <File Id="filB9E917F4BC85B7DAA57B0AC8B4E62751" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.lib._compiled_base.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpF123E6119A2D271A2F8F661D96779BD9" Guid="{C9C689C3-5637-4F67-98CB-D82F9EDDC6E9}">
        <File Id="fil0CD3223967D7500B98EB5E1F19563AA6" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\h5py._conv.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Component Id="cmpF15B0EF30996F9F47460A34B65AE8ACC" Guid="{8CC340C2-6E9E-41DD-B90A-DB02BB88FDFD}">
        <File Id="fil6BDBB7FCC0744CFEF9AFED2248DA18D3" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\numpy.core.umath.pyd" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dir73FE0280E571054EC6CB1A25214EFE65">
      <Component Id="cmpFA3A79C2B6503AB16E8A5A44533D8423" Guid="{C8ADC4AB-1BB5-405D-AF3C-EF2E3CA500F6}">
        <File Id="fil8F8B12DE1C924733E8ADC050CE2828CE" KeyPath="yes" Source="D:\dev\dmmiron\dist_2015b\OpenGL\DLLS\gle_COPYING" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="dirDDEBD52CD88C2034790190AD0F000D10">
      <Directory Id="dir73FE0280E571054EC6CB1A25214EFE65" Name="DLLS" />
    </DirectoryRef>
    <DirectoryRef Id="ViewerFolder">
      <Directory Id="dirDDEBD52CD88C2034790190AD0F000D10" Name="OpenGL" />
    </DirectoryRef>

    <!-- end heat.exe generated components -->
    
    <Feature Id="MainApplication" Title="Mojo" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="MojoConfig" />
      <ComponentRef Id="MojoDLL" />
      <ComponentRef Id="MojoInteropDLL" />
      <ComponentRef Id="ObservableDictionaryDLL" />
      <ComponentRef Id="OokiDialogs" />
      <ComponentRef Id="SlimDX" />
      <ComponentRef Id="OpenCvCoreDLL" />
      <ComponentRef Id="OpenCvHighGuiDLL" />
      <ComponentRef Id="tbbDLL" />
      <ComponentRef Id="Shaders" />
      <ComponentRef Id="StartMenuShortcut" />
      <ComponentRef Id="DesktopShortcut" />
      <!-- heat.exe component refs -->
      <ComponentRef Id="cmp02A9C2B898538C407108ECA6D11D60B6" />
      <ComponentRef Id="cmp03D779DBFD3B78DF32C22CEED695FC5C" />
      <ComponentRef Id="cmp05EE2BC92F9A73DC505A9DDCF95661D3" />
      <ComponentRef Id="cmp08E130B9ACE5E3E0D87982887082A7FA" />
      <ComponentRef Id="cmp09D5B0C4D3A8E378065A64E06AC1743B" />
      <ComponentRef Id="cmp0AC814C3AA80AF056CC687B6E924A147" />
      <ComponentRef Id="cmp0B12BE386AE60232834F50B1B8E10CD2" />
      <ComponentRef Id="cmp0C9729D4221B2CC7ED17AF1E5E2A12AF" />
      <ComponentRef Id="cmp0EFEEBCADB0F84B2893661BFE27D44E4" />
      <ComponentRef Id="cmp16762C69095CBBBCCA3D3AE045E399CF" />
      <ComponentRef Id="cmp20ADD4F4C863EB80BBEB96237642B07A" />
      <ComponentRef Id="cmp2178FC6D71B0A5AE854F81F9E1894822" />
      <ComponentRef Id="cmp24BAB4F2AAEA32ED97D7F94EFAF0C001" />
      <ComponentRef Id="cmp28ADF14B3CE52E92643212C346CB4746" />
      <ComponentRef Id="cmp29FFA5F8B195F7E416FF74B3BAE3B23E" />
      <ComponentRef Id="cmp2C1FD3A1EE38346A233C168AE340AF20" />
      <ComponentRef Id="cmp2C7DC932384949279543B51B1A743CC1" />
      <ComponentRef Id="cmp301766ACF430269469DDFBCC8B1FD83E" />
      <ComponentRef Id="cmp3573F4CF50855D59C4BD82940DEA730A" />
      <ComponentRef Id="cmp369F236EF2C7AD4E925F6FD011F4C1C0" />
      <ComponentRef Id="cmp370943C8137EB014534386B884766EDC" />
      <ComponentRef Id="cmp379568DC16B260E0048B44DACF942EB5" />
      <ComponentRef Id="cmp3BF04E3F85E3DADE993C045FD2362446" />
      <ComponentRef Id="cmp406ACCE71AC4997005460008D8E1CB88" />
      <ComponentRef Id="cmp409E80425E4DB369B90A404E11926DAB" />
      <ComponentRef Id="cmp4298C4EEF7DAAD1BED7E9F57861D126A" />
      <ComponentRef Id="cmp43871DA94E7ACB41EF33C50F806212BD" />
      <ComponentRef Id="cmp4615EDE985778E13130CF9194456E3E5" />
      <ComponentRef Id="cmp4DB63FE42C6073BE78A2F8996C13FE17" />
      <ComponentRef Id="cmp4FB88464D33C5C14B122C4B981B8C06C" />
      <ComponentRef Id="cmp5161E9E6F7A55CE754500D5C17B5CDA5" />
      <ComponentRef Id="cmp51930619C89298B28F6E7DA3C3FB6BB3" />
      <ComponentRef Id="cmp5196C6532B4A8796862381ADEE194F12" />
      <ComponentRef Id="cmp54DA627BB886C0CB18771A6E2B715F24" />
      <ComponentRef Id="cmp56FB690928ACD5FF8CF0A88704722FD2" />
      <ComponentRef Id="cmp575E9C52DBCB8C27B1B9F23F84B79871" />
      <ComponentRef Id="cmp591EE957F5940E418E142C7A993D5689" />
      <ComponentRef Id="cmp593B717BFD240B8230DA777ADB1CFF29" />
      <ComponentRef Id="cmp5B77D1B662C0BF94BCF5FB3691347BDC" />
      <ComponentRef Id="cmp5DD362DA5237876977AC3EF3EFCBF5F6" />
      <ComponentRef Id="cmp5F66B67434CA491876875218766526E6" />
      <ComponentRef Id="cmp5FC58C9B7A64476998FEB3CDCEA6F52F" />
      <ComponentRef Id="cmp61CC24E574DE214C7D90AF437D9E7D0A" />
      <ComponentRef Id="cmp63A235BE19F2ED56ABC4281FAF5DC853" />
      <ComponentRef Id="cmp6A2F553C03C24D922B27B18227326200" />
      <ComponentRef Id="cmp6B2C5BD8723EB486944E86CB42CFBA9F" />
      <ComponentRef Id="cmp71002198D804ADC964F6C00DC11A34B7" />
      <ComponentRef Id="cmp718D95624D260D893E70CB75931AF5F5" />
      <ComponentRef Id="cmp721BAF101092B6A4547B74D01F621412" />
      <ComponentRef Id="cmp75A35C3B31D52F85ED4D912591DD9CB8" />
      <ComponentRef Id="cmp76208F6BE355CB5FC68B254235064695" />
      <ComponentRef Id="cmp778533EB654085E995E69F6846EF31D9" />
      <ComponentRef Id="cmp7C3676429C8E674F390D69BA2A2DC4A9" />
      <ComponentRef Id="cmp7FAF7AC0CB4AFC3508AEB19F1B6BC470" />
      <ComponentRef Id="cmp80C57F7B5E7E46C99F7EC36DF7EFF868" />
      <ComponentRef Id="cmp877049556BA3F16C6E61EEE67B736473" />
      <ComponentRef Id="cmp890E76734A5E50A045A2D10B53DFAE7D" />
      <ComponentRef Id="cmp8A20D28FC5B1FD7137F675A3FE624972" />
      <ComponentRef Id="cmp8CED51FEE3FDCE0B7562D1CBE298BC66" />
      <ComponentRef Id="cmp8F0A1FA835E3377DD02188E3C22493B6" />
      <ComponentRef Id="cmp94B4DA75256F7ED30A2200EFF6EEC5EA" />
      <ComponentRef Id="cmp96C6964A1717DC6FDB39B3BF3953C21A" />
      <ComponentRef Id="cmp9726CFA136FF1113AF87A02DAC4B7FB5" />
      <ComponentRef Id="cmp974D11717B6B1F82020387775D3FC927" />
      <ComponentRef Id="cmp9A955418AEFB557F08A0E67D95D10341" />
      <ComponentRef Id="cmp9BFFEDE752AEE498CEEC5195E40879BE" />
      <ComponentRef Id="cmp9CD26CDF7FC603AB16E3BF29FF75259B" />
      <ComponentRef Id="cmpA17F018A3A59C86013B1D010A8AED532" />
      <ComponentRef Id="cmpA25CB35A9842FB77DEAABD286CBEA961" />
      <ComponentRef Id="cmpA3C912CAE1FCBAD9AAD5E28D831BA428" />
      <ComponentRef Id="cmpA9056DF86B1CFBE26EF731DEEA0A42EA" />
      <ComponentRef Id="cmpAAC9C8A06AF5945FA5CBA06C97D65255" />
      <ComponentRef Id="cmpAC38FE40DA2DDB17A3BAC37DEB5FF24A" />
      <ComponentRef Id="cmpB036805003171BF514F9DD49A29EA573" />
      <ComponentRef Id="cmpB13597EBC6257B9882A3A6F8BB5DE153" />
      <ComponentRef Id="cmpB3252AB52EB7F895018B7A9E4BAC1E85" />
      <ComponentRef Id="cmpB5ADBC8C24964CDCA98D437D40FB66BD" />
      <ComponentRef Id="cmpBBDFC243AA6E54076B0E0F2BEA65F193" />
      <ComponentRef Id="cmpBED5039C3E0CF7607DF450BB1050E48D" />
      <ComponentRef Id="cmpBEE957CDACC30F8867901894B9C29134" />
      <ComponentRef Id="cmpBF1F91BAB7699B000B174DC636E5CAD4" />
      <ComponentRef Id="cmpC0F37CA1F404C9945F36DEF091935C05" />
      <ComponentRef Id="cmpD8D591678E9B14AC6E12C91748630DFB" />
      <ComponentRef Id="cmpD920E33E9680AF560EE34C05BAF3115E" />
      <ComponentRef Id="cmpDC455C6B5D2958707EC520EE9DF1A3B7" />
      <ComponentRef Id="cmpE41512CF1CE4A44D900FCCFD9D5006FE" />
      <ComponentRef Id="cmpE7E890623BB71200D06C441A4F35A4F2" />
      <ComponentRef Id="cmpE946750C409E87F60B24DE266431C3C4" />
      <ComponentRef Id="cmpEA0AE5B165F53438643AD31AAFB9AD22" />
      <ComponentRef Id="cmpEA22FF0EC6BB2BCEE432211012AEDEAA" />
      <ComponentRef Id="cmpEEFD22B04FBB2C385905983D27D811B5" />
      <ComponentRef Id="cmpEFEFC5857FC36CC0B019ECB52955A4CC" />
      <ComponentRef Id="cmpF123E6119A2D271A2F8F661D96779BD9" />
      <ComponentRef Id="cmpF15B0EF30996F9F47460A34B65AE8ACC" />
      <ComponentRef Id="cmpFA3A79C2B6503AB16E8A5A44533D8423" />
      <!-- end heat.exe component refs -->
    </Feature>

    <Feature Id="VCRedist" Title="Visual C++ 10.0 Runtime (x64)" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="VCRedist"/>
    </Feature>

    <Feature Id="DirectXRedist"
        Title="DirectX Runtime"
        AllowAdvertise="no"
        Display="hidden" Level="1">
      <ComponentRef Id="DirectXRedist"/>
    </Feature>

    <CustomAction Id="InstallDirectX"
        FileKey="DXSETUPEXE"
        ExeCommand="/silent"
        Execute="deferred"
        Impersonate="no"
        Return="check"/>

    <InstallExecuteSequence>
      <!--RemoveExistingProducts Before="InstallInitialize" /-->
      <Custom Action="InstallDirectX" Before="InstallFinalize">
        <![CDATA[NOT REMOVE]]>
      </Custom>
    </InstallExecuteSequence>

    <PropertyRef Id="NETFRAMEWORK40CLIENT"/>

    <Condition Message="This application requires .NET Framework 4.0 Client Profile. Please install the .NET Framework 4 Client Profile then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40CLIENT]]>
    </Condition>

    <Icon Id="Mojo.ico" SourceFile="..\Mojo\Mojo.Wpf\Icons\Mojo.ico" />
    <Property Id="ARPPRODUCTICON" Value="Mojo.ico" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch Mojo 2.0" />
    <Property Id="WixShellExecTarget" Value="[#MojoEXE]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1</Publish>
    </UI>

  </Product>

</Wix>